* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row-20 {
  display: flex;
  justify-content: space-between;
  background: #0264f6;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 720px) {
  .row-20 {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;
  }
}
.row-20 .col-20 {
  padding-left: 10px;
  font-family: "Yeseva One", serif;
}
.row-20 .volver-al-pie {
  font-family: "Yeseva One", serif;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.row-20 .volver-al-pie:hover {
  color: #00057a;
}
.row-20 .redes-sociales {
  color: #fff;
}
.row-20 .redes-sociales:hover {
  color: #00057a;
}

header div {
  background-color: #2764ab;
}

nav {
  background-color: #2764ab;
}
nav li {
  background-color: #2764ab;
  padding-top: 40px;
  padding-left: 100px;
  font-family: "Artifika", serif;
}
nav .nav-link {
  color: #fff;
}
nav a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
nav a:hover {
  color: #00057a;
}

.tituloprincipal {
  font-family: "Yeseva One", serif;
  padding-left: 20px;
}

.form2 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 139px;
  margin-top: 120px;
  margin-right: 20px;
  font-family: "Yeseva One", serif;
}
@media (max-width: 350px) {
  .form2 {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
  }
}
.form2 .nombre-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .nombre-1 input {
  border-radius: 40px;
  border: solid 1px;
  color: #00057a;
  padding-left: 4px;
}
.form2 .email-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .email-2 input {
  border-radius: 40px;
  border: solid 1px;
  padding-left: 4px;
}
.form2 .opinion-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .opinion-3 input {
  border-radius: 40px;
  border: solid 1px;
  padding-left: 4px;
}
.form2 .boton-4 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(197, 197, 255);
  width: 78px;
  border-radius: 30px;
  transition: 1s;
}
.form2 .boton-4:hover {
  background-color: #00057a;
  color: #004d6d;
}
.form2 .boton-4 a {
  text-decoration: none;
  list-style: none;
  color: #777777;
  padding-left: 6px;
}

.subtitulo {
  font-family: "Yeseva One", serif;
  color: #fff;
  margin-top: 100px;
  margin-left: 100px;
  background: #5c91b7;
}
.subtitulo .secondtitle {
  background: #5c91b7;
}

.botonvermas {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
}
.botonvermas .boton {
  background-color: rgb(255, 255, 255);
  transition: 1s;
  width: 90px;
  height: 40px;
  border-radius: 40px;
}
.botonvermas .boton a {
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  padding-top: 30px;
  color: #989898;
  font-family: "Yeseva One", serif;
}
.botonvermas .boton:hover {
  background-color: blue;
  color: #fff;
}

.container-xl {
  padding-left: 70px;
  padding-top: 63px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 583px) {
  .container-xl {
    display: flex;
    justify-content: center;
    width: 450px;
  }
}
@media (max-width: 461px) {
  .container-xl {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 400px;
  }
}
@media (max-width: 400px) {
  .container-xl {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 350px;
  }
}
@media (max-width: 352px) {
  .container-xl {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 300px;
  }
}
.container-xl .disco-2 {
  padding-left: 21px;
}

.titulo-even {
  display: flex;
  justify-content: center;
  font-family: "Yeseva One", serif;
  padding-top: 80px;
}

.eventos {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 1005px) {
  .eventos iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .eventos iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
  }
}
@media (max-width: 330px) {
  .eventos iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 170px;
    height: 200px;
  }
}

.eventos-2 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
@media (max-width: 1005px) {
  .eventos-2 iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .eventos-2 iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
  }
}
@media (max-width: 330px) {
  .eventos-2 iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 170px;
    height: 200px;
  }
}

.subtitulo div h3 {
  font-family: "Yeseva One", serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 600px) {
  .subtitulo div h3 {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 350px) {
  .subtitulo div h3 {
    display: flex;
    justify-content: center;
    width: 175px;
  }
}
@media (max-width: 320px) {
  .subtitulo div h3 {
    display: flex;
    justify-content: center;
    width: 165px;
  }
}
.subtitulo div h5 {
  font-family: "Yeseva One", serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 600px) {
  .subtitulo div h5 {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 350px) {
  .subtitulo div h5 {
    display: flex;
    justify-content: center;
    width: 175px;
  }
}
@media (max-width: 320px) {
  .subtitulo div h5 {
    display: flex;
    justify-content: center;
    width: 165px;
  }
}

.container-xxl {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-xxl h5 {
  font-family: "Yeseva One", serif;
  padding-bottom: 30px;
}
@media (max-width: 555px) {
  .container-xxl iframe {
    display: flex;
    justify-content: center;
    width: 400px;
  }
}
@media (max-width: 412px) {
  .container-xxl iframe {
    display: flex;
    justify-content: center;
    width: 250px;
  }
}

.botonvermas {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
}
@media (min-width: 320px) {
  .botonvermas {
    display: flex;
    justify-content: center;
  }
}
.botonvermas .boton {
  background-color: rgb(255, 255, 255);
  transition: 1s;
  width: 90px;
  height: 40px;
  border-radius: 40px;
}
.botonvermas .boton a {
  text-decoration: none;
  list-style: none;
  padding-left: 9px;
  color: #989898;
  font-family: "Yeseva One", serif;
}
.botonvermas .boton:hover {
  background-color: blue;
  color: #fff;
}

html, body {
  background-color: #5c91b7;
  color: #fff;
}

.tipografia, .col h2, .col h1, .col-lg {
  font-family: "Yeseva One", serif;
}

.container .position3 {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.container .position3 .col-1 {
  width: 300px;
  height: 400px;
}
.container .position .col-2 {
  display: flex;
  justify-content: center;
  padding-right: 100px;
}
.container .position .col-2 .col-1 {
  width: 300px;
  height: 400px;
}

/*# sourceMappingURL=style.css.map */
