* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row-20 {
  display: flex;
  justify-content: space-between;
  background: #0264f6;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.row-20 .col-20 {
  padding-left: 10px;
  font-family: "Yeseva One", serif;
}
.row-20 .volver-al-pie {
  font-family: "Yeseva One", serif;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.row-20 .volver-al-pie:hover {
  color: #00057a;
}
.row-20 .redes-sociales {
  color: #fff;
}
.row-20 .redes-sociales:hover {
  color: #00057a;
}

header div {
  background-color: #2764ab;
}

nav {
  background-color: #2764ab;
}
nav li {
  background-color: #2764ab;
  padding-top: 40px;
  padding-left: 100px;
  font-family: "Artifika", serif;
}
nav .nav-link {
  color: #fff;
}
nav a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
nav a:hover {
  color: #00057a;
}

.tituloprincipal {
  font-family: "Yeseva One", serif;
  padding-left: 20px;
}

.form2 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 139px;
  margin-top: 120px;
  margin-right: 20px;
  font-family: "Yeseva One", serif;
}
.form2 .nombre-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .nombre-1 input {
  border-radius: 40px;
  border: solid 1px;
  color: #00057a;
  padding-left: 4px;
}
.form2 .email-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .email-2 input {
  border-radius: 40px;
  border: solid 1px;
  padding-left: 4px;
}
.form2 .opinion-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .opinion-3 input {
  border-radius: 40px;
  border: solid 1px;
  padding-left: 4px;
}
.form2 .boton-4 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(197, 197, 255);
  width: 78px;
  border-radius: 30px;
  transition: 1s;
}
.form2 .boton-4:hover {
  background-color: #00057a;
  color: #004d6d;
}
.form2 .boton-4 a {
  text-decoration: none;
  list-style: none;
  color: #777777;
  padding-left: 6px;
}

.subtitulo {
  font-family: "Yeseva One", serif;
  color: #fff;
  margin-top: 100px;
  margin-left: 100px;
  background: #5c91b7;
}
.subtitulo .secondtitle {
  background: #5c91b7;
}

.botonvermas {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
}
.botonvermas .boton {
  background-color: rgb(255, 255, 255);
  transition: 1s;
  width: 90px;
  height: 40px;
  border-radius: 40px;
}
.botonvermas .boton a {
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  padding-top: 30px;
  color: #989898;
  font-family: "Yeseva One", serif;
}
.botonvermas .boton:hover {
  background-color: blue;
  color: #fff;
}

.container-xl {
  padding-left: 70px;
  padding-top: 63px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.container-xl .disco-2 {
  padding-left: 21px;
}

.numerotresti {
  padding-left: 100px;
  padding-top: 100px;
}

.galeria-del-grupo {
  padding-left: 100px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.galeria-del-grupo .video-2 {
  padding-left: 21px;
}
.galeria-del-grupo h5 {
  padding-top: 15px;
}

html, body {
  background-color: #5c91b7;
  color: #fff;
}

.col {
  font-family: "Yeseva One", serif;
}

.position3 {
  display: flex;
}

.position4 {
  padding-top: 150px;
}

.position5 {
  padding-top: 150px;
  padding-bottom: 60px;
}

.position2 {
  padding-top: 190px;
  padding-bottom: 170px;
}

.p-1 {
  padding: 10px;
}

.m-1 {
  margin: 10px;
}

.display-1 {
  font-size: 60px;
}

.p-2 {
  padding: 20px;
}

.m-2 {
  margin: 20px;
}

.display-2 {
  font-size: 30px;
}

.p-3 {
  padding: 30px;
}

.m-3 {
  margin: 30px;
}

.display-3 {
  font-size: 20px;
}

.p-4 {
  padding: 40px;
}

.m-4 {
  margin: 40px;
}

.display-4 {
  font-size: 15px;
}

.p-5 {
  padding: 50px;
}

.m-5 {
  margin: 50px;
}

.display-5 {
  font-size: 12px;
}

.p-6 {
  padding: 60px;
}

.m-6 {
  margin: 60px;
}

.display-6 {
  font-size: 10px;
}

.p-7 {
  padding: 70px;
}

.m-7 {
  margin: 70px;
}

.display-7 {
  font-size: 8.5714285714px;
}

.p-8 {
  padding: 80px;
}

.m-8 {
  margin: 80px;
}

.display-8 {
  font-size: 7.5px;
}

.p-9 {
  padding: 90px;
}

.m-9 {
  margin: 90px;
}

.display-9 {
  font-size: 6.6666666667px;
}

.p-10 {
  padding: 100px;
}

.m-10 {
  margin: 100px;
}

.display-10 {
  font-size: 6px;
}

/*# sourceMappingURL=style.css.map */
