* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row-20 {
  display: flex;
  justify-content: space-between;
  background: #0264f6;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 320px) {
  .row-20 {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
.row-20 .col-20 {
  padding-left: 10px;
  font-family: "Yeseva One", serif;
}
.row-20 .volver-al-pie {
  font-family: "Yeseva One", serif;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.row-20 .volver-al-pie:hover {
  color: #00057a;
}
.row-20 .redes-sociales {
  color: #fff;
}
.row-20 .redes-sociales:hover {
  color: #00057a;
}

header div {
  background-color: #2764ab;
}

nav {
  background-color: #2764ab;
}
nav li {
  background-color: #2764ab;
  padding-top: 40px;
  padding-left: 100px;
  font-family: "Artifika", serif;
}
nav .nav-link {
  color: #fff;
}
nav a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
nav a:hover {
  color: #00057a;
}

.tituloprincipal {
  font-family: "Yeseva One", serif;
  padding-left: 20px;
}

.form2 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 139px;
  margin-top: 120px;
  margin-right: 20px;
  font-family: "Yeseva One", serif;
}
.form2 .nombre-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .nombre-1 input {
  border-radius: 40px;
  border: solid 1px;
  color: #00057a;
  padding-left: 4px;
}
.form2 .email-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .email-2 input {
  border-radius: 40px;
  border: solid 1px;
  padding-left: 4px;
}
.form2 .opinion-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form2 .opinion-3 input {
  border-radius: 40px;
  border: solid 1px;
  padding-left: 4px;
}
.form2 .boton-4 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(197, 197, 255);
  width: 78px;
  border-radius: 30px;
  transition: 1s;
}
.form2 .boton-4:hover {
  background-color: #00057a;
  color: #004d6d;
}
.form2 .boton-4 a {
  text-decoration: none;
  list-style: none;
  color: #777777;
  padding-left: 6px;
}

.subtitulo {
  font-family: "Yeseva One", serif;
  color: #fff;
  margin-top: 100px;
  margin-left: 100px;
  background: #5c91b7;
}
.subtitulo .secondtitle {
  background: #5c91b7;
}

.botonvermas {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
}
.botonvermas .boton {
  background-color: rgb(255, 255, 255);
  transition: 1s;
  width: 90px;
  height: 40px;
  border-radius: 40px;
}
.botonvermas .boton a {
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  padding-top: 30px;
  color: #989898;
  font-family: "Yeseva One", serif;
}
.botonvermas .boton:hover {
  background-color: blue;
  color: #fff;
}

.container-xl {
  padding-left: 70px;
  padding-top: 63px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.container-xl .disco-2 {
  padding-left: 21px;
}

.numerotresti {
  padding-left: 100px;
  padding-top: 100px;
}

.galeria-del-grupo {
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.galeria-del-grupo .video-2 {
  padding-left: 21px;
}
@media (max-width: 650px) {
  .galeria-del-grupo .video-2 {
    display: flex;
    justify-content: center;
    padding-right: 100px;
  }
}
.galeria-del-grupo .video-3 {
  padding-left: 21px;
}
@media (max-width: 650px) {
  .galeria-del-grupo .video-3 {
    display: flex;
    justify-content: center;
    padding-right: 100px;
  }
}
.galeria-del-grupo h5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.botonvermas {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
}
@media (min-width: 320px) {
  .botonvermas {
    display: flex;
    justify-content: center;
  }
}
.botonvermas .boton {
  background-color: rgb(255, 255, 255);
  transition: 1s;
  width: 90px;
  height: 40px;
  border-radius: 40px;
}
.botonvermas .boton a {
  text-decoration: none;
  list-style: none;
  padding-left: 3px;
  padding-top: 30px;
  color: #989898;
  font-family: "Yeseva One", serif;
}
.botonvermas .boton:hover {
  background-color: blue;
  color: #fff;
}

html, body {
  background-color: #5c91b7;
  color: #fff;
}

.position3 {
  display: flex;
}

.position4 {
  padding-top: 150px;
}

.position5 {
  padding-top: 150px;
  padding-bottom: 60px;
}

.position2 {
  padding-top: 190px;
  padding-bottom: 170px;
}

/*# sourceMappingURL=style.css.map */
