html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #5c91b7;
}
* {
    color: white;
    box-sizing: border-box;
}

header div {
    background-color: #2764ab;
}
nav {
    background-color: #2764ab;
}
nav li {
    background-color: #2764ab;
    padding-top: 40px;
    padding-left: 100px;
    font-family: "Artifika", serif;
}
.nav-link {
    color: #fff;
}
nav a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}
  
  nav a:hover {
    color: #00057a;
}
.tituloprincipal {
    font-family: "Yeseva One", serif;
    margin-left: 20px;
}






.col {
    font-family: "Yeseva One", serif;
}
.col-6 {
    font-family: "Yeseva One", serif;
}
.col-lg {
    font-family: "Yeseva One", serif;
}


.position2 {
    padding-top: 190px;
    padding-bottom: 170px;
}
.position3 {
    display: flex;
}
.position4 {
    padding-top: 150px;
}
.position5 {
    padding-top: 150px;
}


.form2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 139px;
    margin-top: 120px;
}
.form3 {
    margin-right: 103px;
}
.form3 h2 {
    font-family: "Yeseva One", serif;
}
.form {
    font-family: "Yeseva One", serif;
    display: flex;
    flex-direction: column;
}
.form45 {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
}
.form45 label {
    height: 50px;
    width: 300px;
    border-radius: 50px;
    font-family: "Yeseva One", serif;
}
.form45 input {
    height: 170px;
    width: 300px;
    border-radius: 50px;
}
.form label {
    border-radius: 50px;
    height: 40px;
    width: 300px;
}
.form input {
    border-radius: 50px;
    height: 30px;
    width: 300px;
}
.botonenvio {
    font-family: "Yeseva One", serif;
    margin-left: 230px;
    background: #00057a;
    height: 35px;
    width: 100px;
    border-radius: 100px;
}
.botonenvio a {
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 10px;
}
.subtitulo {
    font-family: "Yeseva One", serif;
    color: #fff;
    margin-top: 100px;
    margin-left: 100px;
    background: #5c91b7;
}
.secondtitle {
    background: #5c91b7;
}