header {
    div {
        background-color: $color-de-fondo-nav;
    }
}
nav {
    background-color: $color-de-fondo-nav;
    li {
        background-color: $color-de-fondo-nav;
        padding-top: 40px;
        padding-left: 100px;
        font-family: "Artifika", serif;
    }
    .nav-link {
        color: $color-blanco;
    }
    a {
        text-decoration: none;
        list-style: none;
        color: $color-blanco;
        &:hover {
            color: $color-blue;
        }
    }
}
.tituloprincipal {
    font-family: "Yeseva One", serif;
    padding-left: 20px;
}