.form2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 139px;
    margin-top: 120px;
    margin-right: 20px;
    font-family: "Yeseva One", serif;
    @media (max-width: 350px) {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px; 
    }
    @media (max-width: 1024px) {
        height: 950px;
    }
    .nombre-1 {
        margin-top: 30px;
        margin-bottom: 30px;
        input {
            border-radius: 40px;
            border: solid 1px;
            color: #00057a;
            padding-left: 4px;
        }
    }
    .email-2 {
        margin-top: 30px;
        margin-bottom: 30px;
        input {
            border-radius: 40px;
            border: solid 1px;
            padding-left: 4px;
        }
    }
    .opinion-3 {
        margin-top: 30px;
        margin-bottom: 30px;
        input {
            border-radius: 40px;
            border: solid 1px;
            padding-left: 4px;
        }
    }
    .boton-4 {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: rgb(197, 197, 255);
        width: 78px;
        border-radius: 30px;
        transition: 1s;
        &:hover {
            background-color: #00057a;
            color: #004d6d;
        }
        a {
            text-decoration: none;
            list-style: none;
            color: #777777;
            padding-left: 6px;
        }
    }
}