
html,body {
    background-color: #5c91b7;
    color: #fff;
}
.col {
    font-family: "Yeseva One", serif;
}
.position3 {
    display: flex;
}
.position4 {
    padding-top: 150px;
}
.position5 {
    padding-top: 150px;
    padding-bottom: 60px;
}
.position2 {
    padding-top: 190px;
    padding-bottom: 170px;
}

$variable: invierno;

@for $variable from 1 through 10 {
    .p-#{$variable} {
        padding: $variable * 10px;
    }
    .m-#{$variable} {
        margin: $variable * 10px;
    }
    .display-#{$variable} {
        font-size: 60px / $variable;
    }
}

