
html,body {
    background-color: #5c91b7;
    color: #fff;
}
header div {
    background-color: #2764ab;
}
nav {
    background-color: #2764ab;
}
nav li {
    background-color: #2764ab;
    padding-top: 40px;
    padding-left: 100px;
    font-family: "Artifika", serif;
}
.nav-link {
    color: #fff;
}
nav a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}
  
  nav a:hover {
    color: #00057a;
}
.tituloprincipal {
    font-family: "Yeseva One", serif;
    padding-left: 20px;
}
.col {
    font-family: "Yeseva One", serif;
}
.position3 {
    display: flex;
}
.position4 {
    padding-top: 150px;
}
.position5 {
    padding-top: 150px;
    padding-bottom: 60px;
}
.position2 {
    padding-top: 190px;
    padding-bottom: 170px;
}