html, body {
    background-color: #5c91b7;
    color: #fff;
  }

.tipografia {
  font-family: "Yeseva One", serif;
}

  .col-lg {
    @extend .tipografia;
  }
  .col {
    h1 {
      @extend .tipografia;
    }
    h2 {
      @extend .tipografia;
    }
  }


.container {
  @mixin imagenes($w,$h) {
    width: $w;
    height: $h;
  }
  .position {
    &3 {
      display: flex;
      justify-content: center;
      .col-1 {
        @include imagenes(300px,400px);
      }
      padding-bottom: 150px;
    }
    .col-2 {
      display: flex;
      justify-content: center;
      .col-1 {
        @include imagenes(300px,400px);
      }
      padding-right: 100px;
    }
  }
}





